<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% book_list.forEach(function(book) { %>
            <li><%= book.title %></li>
        <% }); %>
    </ul>
</body>
</html>